.contents
  = render partial: 'messages/leftcontent'

  .rightContent
    .rightContent__top
      = link_to "Edit", edit_group_path(current_user) 
      .rightContent__top--groupName
        = @group.name
      .rightContent__top--groupMember
        
        %ul{class: "member-list"} 
          Member: 
          %li{class:"member"} tanaka
          %li{class:"member"} takahasi
          %li{class:"member"} nakata

    .chatArea
      = render partial: 'chatarea', collection: @messages
    
    .inputArea
      = form_for [@group, @message] do |f|
        = f.text_field :message, class:"inputArea__textArea", place_holder:"type messages", id:'sendMessageText'
        = f.label :image, class: 'inputArea__textArea--selectImages' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'inputArea--sendBtn', id:'sendMessageBtn'
